.container {
 

  height:200px ;
  display: flex;
  gap: 20px
  ;

  .gun {
    height: 50px;
    width: 50px;
background: #000;
  }

  .bullet {
    width: 20px;
    height: 10px;
 background: #9f0000;
  }
}